apiVersion: v1
kind: Service
metadata:
  name: backend-svc
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5001       # Cluster IP port
      targetPort: 5001 # Container port
  type: ClusterIP
